html {
    font-size: $baseFontSize;

    @include tablets {
        font-size: $baseFontSize - 1px;
    }

    @include phones {
        font-size: $baseFontSize - 2px;
    }
}


html, body {
    min-height: 100vh;
}

body {
    font-weight: 400;
    font-family: "Alegreya Sans", Helvetica, sans-serif;
    color: $darkGrey;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osxo-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

input:focus-visible, textarea:focus-visible {
    outline-offset: 0;
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

address {
    font-style: normal;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

table {
    border-collapse: collapse;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

section {
    position: relative;
    min-height: 660px;
    height: 100vh;
    display: flex;
    flex-direction: column;

    @include tablets {
        min-height: 1000px;
    }

    @include phones {
        min-height: 800px;
    }
}

footer {
    position: relative;
    width: 100%;
    height: 15%;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    max-width: $containerWidht;
    width: 90%;
    height: 100%;
    margin: 0 auto;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.headline {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    align-items: center;
    text-align: center;

    .section__title {
        font-size: rem(48px);
        font-weight: 700;
        line-height: rem(58px);
        color: $black;
        text-transform: uppercase;

        @include phones {
            font-size: rem(40px);
        }
    }

    .headline__subtitle {
        font-weight: 300;
        line-height: rem(22px);
        color: $darkGrey;
        padding: 0 26%;
        margin-top: rem(20px);
        text-align: center;

        @include tablets {
            padding: 0 20%;
            margin-top: rem(10px);
        }

        @include phones {
            padding: 0 4%;
            margin-top: rem(5px);
        }
    }
}
