@mixin btn ($bg) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(16px);
    font-weight: 800;
    text-transform: uppercase;
    border-radius: rem(100px);
    background: $bg;
    color: #fff;
    width: rem(160px);
    height: rem(60px);

    @if $bg==$green {
        &:hover {
            background-color: $darkGreen;
            transition: .3s;
        }
    }

    @if $bg==#FFF {
        color: $darkGreen;

        &:hover {
            color: $lightGreen;
            transition: .3s;
        }
    }

    @if $bg==transparent {
        color: $lightGreen;

        &:hover {
            color: #000;
            transition: .3s;
        }
    }
}

.btn__white {
    @include btn(#FFFFFF);
}

.btn__green {
    @include btn($green);
}

.btn__transparent {
    @include btn(transparent);
    justify-content: flex-start;
    font-size: rem(18px);
    font-weight: 400;
    text-transform: none;
}
