.benefits__section {
    background: url("../img/decoration/pattern_benefits.png") left top 57% no-repeat;
    background-color: #fff;


    &:before {
        content: url("../img/decoration/berry_benefits.png");
        position: absolute;
        bottom: -80px;
        left: 0;
        z-index: 3;
    }

    .benefits__container {
        align-items: center;
        padding: 100px 0 115px;
    }
}

.benefits {
    width: 100%;
    height: max-content;
}

.benefits__list {
    display: flex;
    text-align: center;
}

.benefits__item {
    position: relative;
    display: flex;
    width: 330px;
    height: max-content;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

    &:before {
        content: url("../img/decoration/combined_shape_benefits.png");
        position: absolute;
        top: 60px;
        right: 0;
        transform: translateX(50%);
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }

    .benefits__img {
        background-color: $lightGrey;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        width: 130px;
        height: 130px;
        margin-bottom: 20px;
    }

    .benefits__text {
        display: flex;
        flex-direction: column;

        .benefits__title {
            font-size: 27px;
            font-weight: 700;
            line-height: 32px;
            color: $black;
            margin-bottom: 20px;
        }

        .benefits__title-desc {
            font-weight: 300;
            line-height: 22px;
        }
    }

}
