.hero__section {
    background: url("../img/decoration/pattern_hero.png") right bottom no-repeat;
    background-color: $blue;
    color: #FFFFFF;
    z-index: 1;

    &:before {
        position: absolute;
        bottom: -40px;
        left: 5%;
        content: url("../img/decoration/leaf_hero.png");
    }

    &:after {
        position: absolute;
        bottom: -55px;
        right: 5%;
        content: url("../img/decoration/berries_hero.png");
    }
}

.hero__container {
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 0 50px;
    background: url("../img/decoration/bars_hero.png") right center / 50% auto no-repeat;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    width: 100%;

    .header__logo {
        width: 53px;
        height: 38px;
    }

    .header__phone {
        width: 165px;
        height: 30px;
    }
}

.menu__list {
    display: flex;

    .menu__item {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.phone {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .phone__img {
        margin-right: 5px;
        width: 12px;
        height: 12px;
    }

    .phone__number {
        font-size: 22px;
    }
}

.hero__title-section {
    width: 40%;
    height: max-content;
}

.hero__mane-title {
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 40px;
}

.icons__list {
    display: flex;

    .icon__item {
        display: flex;
        font-size: 16px;
        line-height: 18px;
        margin-right: 40px;

        :last-child {
            margin-right: 0;
        }


        .icon__img {
            width: 40px;
            height: 40px;
            margin-right: 10px;

            :last-child {
                margin-right: 0;
            }
        }

        .icon__text {
            width: 85px;
        }
    }
}
