.hero__section {
    background: url("../img/decoration/pattern_hero.png") right bottom no-repeat;
    background-color: $blue;
    color: #FFFFFF;
    z-index: 1;

    @include tablets {
        background-position: right bottom 75%;
    }

    &:before, &:after {
        @include tablets {
            display: none;
        }
    }

    &:before {
        position: absolute;
        bottom: rem(-40px);
        left: 5%;
        content: url("../img/decoration/leaf_hero.png");
    }

    &:after {
        position: absolute;
        bottom: rem(-55px);
        right: 5%;
        content: url("../img/decoration/berries_hero.png");
    }
}

.hero__container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: rem(25px) 0 rem(50px);
    background: url("../img/decoration/bars_hero.png") right center / 50% auto no-repeat;

    @include tablets {
        background: none;
    }
}

.hero__title-section {
    width: 40%;
    height: max-content;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        &::before {
            content: url("../../img/decoration/tablets__hero.png");
        }
    }
}

.hero__mane-title {
    font-size: rem(48px);
    font-weight: bold;
    line-height: rem(58px);
    text-transform: uppercase;
    margin-bottom: rem(20px);
}

.hero__title-desc {
    font-size: rem(21px);
    line-height: rem(25px);
    margin-bottom: rem(35px);

    @include tablets {
        padding: 0 25%;
    }

    @include phones {
        padding: 0 15%;
    }
}

.hero__btn {
    @include phones {
        font-size: $baseFontSize + 1px;
    }
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: max-content;
    width: 100%;

    .header__phone-number {
        @include tablets {
            display: none;
        }
    }
}

.menu {
    margin: 0 rem(30px);

    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: rem(4px);

    .menu__item {
        margin-right: rem(30px);
        margin-bottom: rem(10px);

        &:last-child {
            margin-right: 0;
        }
    }

    .menu__link {
        white-space: nowrap;
    }
}

.phone-number {
    display: flex;
    align-items: center;
    width: rem(165px);
    height: rem(30px);
}

.phone-number__text {
    font-size: rem(22px);
    white-space: nowrap;
}

.icons__list {
    display: flex;

    .icon__item {
        display: flex;
        font-size: rem(16px);
        line-height: rem(18px);
        margin-right: rem(40px);

        :last-child {
            margin-right: 0;
        }

        .icon__text {
            width: rem(85px);
        }
    }
}
