.map__img {
    background: url("../img/map.png") center center / cover no-repeat;
    height: 90%;

}

.footer__container {
    display: flex;
    align-items: center;
    height: rem(90px);

    @include tablets {
        height: rem(105px);
    }

    @include phones {
        height: rem(150px);
    }

    .footer__content {
        flex-direction: row;
        justify-content: space-between;
        height: 80%;
        width: 100%;

        @include phones {
            flex-direction: column;
            justify-content: center;
        }
    }
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    font-size: rem(21px);
    line-height: rem(24px);
    color: #000;

    @include phones {
        align-items: center;
        margin-bottom: rem(20px);
    }
}

.contacts__phone-number {
    display: flex;
    align-items: center;
    color: $lightGreen;
    margin-top: rem(10px);
}

.socials__list {
    display: flex;
}

.social__item {
    margin-right: rem(15px);
    width: rem(20px);
    height: rem(20px);

    &:last-child {
        margin-right: 0;
    }
}
