.order__section {
    background: url("../img/background/bg_order.png") center center no-repeat;
    background-color: #cfdeda;
    color: $lightGreen;

    @include tablets {
        &:before, &:after {
            display: none;
        }
    }

    &:before {
        position: absolute;
        content: url("../img/decoration/berry_order.png");
        left: 5%;
        bottom: rem(100px);
    }

    &:after {
        position: absolute;
        content: url("../img/decoration/leaf_order.png");
        right: 5%;
        bottom: rem(100px);
    }
}

.order__headline {
    margin-bottom: rem(60px);

    @include tablets {
        margin-bottom: rem(30px);
    }

    .order__title {
        color: $green;

        @include tablets {
            width: 100%;
        }
    }
}

.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 17%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(30px);

    @include tablets {
        margin-right: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(10px);
}

.form__block {
    flex: 1;
    margin-right: rem(25px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    background: #fff;
    flex: 1;
    font-size: rem(14px);
    line-height: rem(20px);
    color: #000000;
    border-radius: rem(4px);
    border: rem(3px) solid transparent;
    width: 100%;
    height: rem(60px);
    padding: rem(20px) rem(15px);

    &:focus {
        border-color: #DEE2BD;
        outline: none;
    }
}

.form__input-textarea {
    height: rem(155px);
    width: 100%;
    resize: none;
    margin-bottom: rem(20px);
}

.form__controls {
    display: flex;
    flex-wrap: wrap;

    @include phones {
        justify-content: center;
    }

}

.form__controls-checkbox {
    margin-bottom: rem(60px);
}

.form__btns {
    display: flex;
    align-items: center;

    @include tablets {
        justify-content: center;
        padding-left: rem(100px);
    }

    .form__btn {
        margin-right: rem(20px);

        @include tablets {
            margin-right: rem(30px);
        }
    }
}

.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: rem(25px);
    margin-bottom: rem(20px);

    &:last-child {
        margin-right: 0;
        margin-bottom: 0;
    }

    &-checkbox {
        .radio__visible {
            border-radius: 0;

            &::before {
                background: url("../img/svg/order.svg") center center no-repeat;
            }
        }
    }
}

.radio__elem {
    display: none;

    &:checked~.radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__visible {
    position: relative;
    width: rem(25px);
    height: rem(25px);
    border-radius: 50%;
    background: #fff;
    margin-right: rem(10px);

    &:before {
        content: "";
        position: absolute;
        display: none;
        width: rem(13px);
        height: rem(13px);
        border-radius: 50%;
        background: $green;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
