.reviews__section {
    background-color: #fff;
    z-index: 2;

    &:before {
        position: absolute;
        content: url("../img/decoration/pattern_reviews.png");
        left: 0;
        bottom: rem(-160px);
    }

    &:after {
        position: absolute;
        right: 10%;
        top: rem(40px);
        content: url("../img/decoration/berry_reviews_2.png");
    }

    @include tablets {
        &::after {
            right: rem(-25px);
            top: rem(20px);
        }
    }
}

.reviews__container {

    &:before {
        position: absolute;
        content: url("../img/decoration/berry_reviews_1.png");
        left: 0;
        bottom: rem(-90px);
    }

    @include tablets {
        &:before {
            left: rem(-25px);
        }

    }
}

.reviews__headline {
    margin-bottom: rem(30px);
}

.reviews {
    width: 100%;
    height: max-content;
}

.reviews__display {
    position: relative;
    background: url("../img/decoration/pattern_reviews_2.png") right top rem(25px) no-repeat;
    background-color: $grey;
    display: flex;
    width: 100%;
    height: max-content;
    padding: rem(50px) rem(45px) rem(35px);
    margin-bottom: rem(15px);
    overflow: hidden;

    @include tablets {
        background-position: right top rem(5px);
        margin-bottom: rem(30px);
    }

    &:before {
        content: "";
        position: absolute;
        display: block;
        width: rem(90px);
        height: rem(90px);
        background: #fff;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-65px);
    }
}

.reviews__display-inner {
    display: flex;
    width: 100%;

    @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .reviews__avatar {
        width: rem(253px);
        height: rem(264px);

        @include tablets {
            width: rem(130px);
            height: rem(130px);
            margin-bottom: rem(30px);
        }

        .reviews__avatar-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .reviews__content {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: max-content;
        padding: rem(30px) 0;
        margin-left: rem(40px);

        @include tablets {
            width: 100%;
            padding: 0;
            margin-left: 0;
        }

        .reviews__title {
            font-size: 27px;
            font-weight: 700;
            line-height: 32px;
            color: $black;
            margin-bottom: 10px;
        }

        .reviews__text {
            font-weight: 300;
            line-height: 22px;
            height: max-content;
            margin-bottom: 25px;
        }

        .reviewer__autor {
            font-weight: 500;
        }
    }
}

.reviews__switcher {
    display: flex;
    justify-content: center;
    width: 100%;
    height: max-content;
}

.interctive-avatar {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    overflow: hidden;

    &:last-child {
        margin-right: 0;
    }

    &--active {
        border: 6px solid $green;
    }

    .interctive-avatar__link {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;

        .interctive-avatar__img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
